atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.3.0
oauthlib==2.1.0
pluggy==0.8.0
py==1.7.0
PySocks==1.6.8
pytest==3.9.3
pytz==2018.7
PyYAML==3.13
qr==0.6.0
redis==2.10.6
requests==2.20.0
requests-oauthlib==1.0.0
six==1.11.0
tweepy==3.6.0
urllib3==1.24
Werkzeug==0.14.1
